
.icon a {
    text-decoration: none;
}

.pagination a {
    /*z-index: 3;*/
    /*border-color: #4e73df;*/
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    /*color: #4e73df;*/
    background-color: #fff;
    border: 1px solid #dddfeb;
    text-decoration: none;
}

.active a, .pagination li, .btn-group a {
    z-index: 3;
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
    
}

.pagination, .btn-group a {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .35rem;
    float: right;
}

.container-table {
    width: 98%;
    margin: 10px;
}

.icon {
    /*border-radius: 5px;
    border: 2px solid #dddfeb;
    background-color: #4e73df;
    border-color: #4e73df;
    color: #fff;
    box-shadow: 1px 1px 1px #AAA;*/
    text-decoration-style: none;
    /*margin: 2px;
    padding: 2px;*/
    
}
